<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Manage my NAU Classes <i class="fas fa-user-friends"></i></h1>
		</div>

		Below are all your NAU Classes that you instruct.
		<br><br>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">Name <i class="fas fa-external-link-alt" style="color: white;"></th>
					<th scope="col">Description</th>
					<th scope="col">Edit NAU Class <i class="fas fa-external-link-alt" style="color: white;"></th>
						<th scope="col">Edit Profile Visibility <i class="fas fa-external-link-alt" style="color: white;"></th>
				</tr>
			</thead>
			<tbody>
				<% current_user.enrollments.each do |enrollment| %>
					<% @offerings.each do |offering| %>
						<% if offering.id == enrollment.offering_id %>
							<tr>
								<td><%= link_to offering.name, offering_path(offering), target: "_blank" %></td>
								<td><%= offering.description %></td>
								<td><%= link_to 'Edit NAU Class', edit_offering_url(offering), target: "_blank" %></td>
								<td><%= link_to 'Edit Student Profile Visibility', new_profilevisible_path(offering), target: "_blank" %></td>
							</tr>
						<% end %>
					<% end %>
				<% end %>
			</tbody>
		</table>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>

</div>
