<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>View All Classrooms</h1>
		</div>

		Below are all classrooms in the system.
		<br><br>
		<% @classrooms = @classrooms.paginate(page: params[:page], per_page: 10) %>

		<%= will_paginate @classrooms, class: "flickr_pagination" %>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">View Profiles</th>
				</tr>
			</thead>
			<tbody>
				<% @classrooms.each do |classroom| %>
						<tr>
							<td><%= link_to classroom.name, classroom_path(classroom) %></td>
						</tr>
				<% end %>
			</tbody>
		</table>

		<%= will_paginate @classrooms, class: "flickr_pagination" %>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
	<%= link_to 'Back to Dashboard', home_index_path %>

</div>
