<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>Manage Classrooms</h1>
		</div>

		Below are classrooms you have created. Coming soon is a link to assign these classrooms to TIPs.
		<br><br>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">View Profiles</th>
					<th scope="col">Edit Classroom</th>
				</tr>
			</thead>
			<tbody>
				<% @classrooms.each do |classroom| %>
						<% if classroom.user_id == current_user.id %>
						<tr>
							<td><%= link_to classroom.name, classroom_path(classroom) %></td>
							<td><%= link_to 'Edit Classroom', edit_classroom_url(classroom) %></td>
						</tr>
						<% end %>
				<% end %>
			</tbody>
		</table>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
	<%= link_to 'Back to Dashboard', home_index_path %>

</div>
