<div class="container">
	<br><br>

	<div class="sketch">
		<h1>Credits</h1>
	</div>

	<p>The Jabulani School Simulation Portal was built by a Northern Arizona University
		Computer Science capstone team, Team Jasper, during the 2018-2019 school year.
		The team, led by Karsten Nguyen, includes Jasmine Mitchell, Rueben Rincon and
		Carli Martinez.
		<br>
	</p>

  <%= link_to 'Team Jasper Website', "https://www.cefns.nau.edu/capstone/projects/CS/2019/Jasper-S19/", :target => "_blank" %>

	<br><br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
</div>
