<div class="container">
	<br><br>

	<% if current_user %>
	<h1>Dashboard</h1>
	<br>
	<p>How goes it, <%= current_user.email %>? This is your personal dashboard.</p>

		<% if current_user.acc_type == 'superadmin' %>
		<br>
		<p>You are a super admin!</p>
		<% end %>
		
	<% else %>

	<h1>Welcome to the Jabulani School Simulation Portal</h1>
	<h3>This website is under construction</h3>
	<br>
	<p>Please check back in May of 2019 for the official launch of this software.</p>
	<% end %>
</div>
