<div class="container">
	<br><br>

	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' %>

		<div class="sketch">
			<h1>
				<button onclick="goBack()" class="btn btn-warning" style="margin-right: 10px;"><i class="fas fa-backward" style="color: white;"></i></button>
				Manage Activities <i class="fas fa-file-alt"></i>
			</h1>
		</div>

		Below are all Activities.
		<br><br>

		<table class="table">
			<thead class="thead">
				<tr style="colSort">
					<th scope="col">View Activity</th>
					<th scope="col">Edit Activity</th>
				</tr>
			</thead>
			<tbody>
				<% @scenarios.each do |scenario| %>
						<tr>
							<td><%= link_to scenario.name, scenario_path(scenario) %></td>
							<td><%= link_to 'Edit Activity', edit_scenario_url(scenario) %></td>
						</tr>
				<% end %>
			</tbody>
		</table>

		<% else %>

		<b>You do not have permission to access this page!</b>

		<% end %>

	<% else %>

	<b>You do not have permission to access this page!</b>

	<% end %>

	<br>
	<button onclick="goBack()" class="btn btn-warning"><i class="fas fa-backward" style="color: white;"></i></button>

	<br><br>
	<%= link_to 'Back to Dashboard', home_index_path %>

</div>
