// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great');
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: Gainsboro;
    color: white;
		height: 120px;
		padding-top: 40px;
		padding-left: 90px;
		border-top: 10px solid whitesmoke;
}

.navbar {
	border-bottom: 10px solid #FFD200;
}

// .btn-light {
//   background-color: #FFD200 !important;
// }

body {
  height: auto;
  padding-bottom: 180px;
}

.container {
  height: 100%;
}

.menuLeft {
  float: left;
  width: 22%;
}

.contentRight {
  float: right;
  margin-left: 6%;
  width: 72%;
}

.menu a {
  color: black;
  background-color: white;
  border-left: 10px solid #FFD200;
}

.menu a:hover {
  background-color: #003466;
  color: white;
}

.sketch {
  font-family: 'Cabin Sketch', cursive;
  // font-family: 'Fredericka the Great', cursive;
}

.thead {
  background-color: #003466;
  color: white;
}
