// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: Gainsboro;
    color: white;
		height: 180px;
		padding-top: 40px;
		padding-left: 90px;
		border-top: 10px solid whitesmoke;
}

.navbar {
	border-bottom: 10px solid #FFD200;
}

// .btn-light {
//   background-color: #FFD200 !important;
// }

body {
  height: auto;
  padding-bottom: 180px;
}

.container {
  height: 100%;
}
