<div class="container">
	<br><br>


	<% if current_user %>

		<% if current_user.acc_type == 'superadmin' || current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' || current_user.acc_type == 'student'%>

		<div class="menuLeft">
			<h3><b>Menu</b></h3>
			<br>
			<ul class="nav flex-column menu">
				<li class="nav-item">
					<a style="margin-bottom: 30px;" class="nav-link" href="/">Back to Dashboard</a>
				</li>
				<% if current_user.acc_type == 'admin' || current_user.acc_type == 'faculty' || current_user.acc_type == 'superadmin' %>
					<li class="nav-item">
				    <%= link_to "Add an Exercise", :new_exercise, :class => "nav-link", :method => "get" %>
				  </li>
					<li class="nav-item">
				    <%= link_to "Add a Scenario", :new_scenario, :class => "nav-link", :method => "get" %>
				  </li>
					<li class="nav-item">
				    <%= link_to "Manage Exercises", :manage_exercises, :class => "nav-link", :method => "get" %>
				  </li>
					<!-- <li class="nav-item">
						Manage Scenarios?
				  </li> -->
				<% else %>

				<h4><b>Assigned Exercises</b></h4>
				<br>

				<% exercises = Array.new %>

				<% current_user.offerings.each do |offering| %>
					<% offering.exercises.each do |exercise| %>
						<% if exercises.exclude?(exercise.id) %>
							<li class="nav-item">
								<%= link_to exercise.name, exercise_path(exercise), :class => "nav-link" %>
							</li>
							<% exercises.push(exercise.id) %>
						<% end %>
					<% end %>
				<% end %>

				<% end %>
			</ul>

		</div>

		<div class="contentRight">

			<div class="sketch">
				<h1>Exercises</h1>
			</div>

			Welcome to the Exercises landing page. This page will provide links for administrators
			and faculty to manage exercises, create exercises, and delete exercises.
			<br><br>
			In addition, this page will include a welcome message, contact information for help, and
			a link to a user manual.

			<br><br>

		</div>


		<% else %>

			<p>Interact with virtual classrooms and Upload Scenarios</p>

		




		<% end %>

	<% else %>

	<p>You are not signed in! Please click the sign in button on the top right corner.</p>

	<% end %>

	<br>

</div>
